<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articleIntem ANY>
<!ATTLIST articleIntem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="3ac88b62-1ab7-49f9-ba04-149268a6c666" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-06-28T22:03:32" updateDate="2021-06-29T06:42:21" nodeName="HomePage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1061" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTtile><![CDATA[Bienvenido a NewShore_]]></pageTtile>
    <bodyText><![CDATA[<p><span>Hello world! We can write what we like here!</span></p>]]></bodyText>
    <footerText><![CDATA[Copyright Widgets Ltd 2021]]></footerText>
    <simpleContentPage id="1069" key="88368734-cc7e-4cf5-a648-af2a6a32093e" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2021-06-29T06:35:23" updateDate="2021-06-29T06:58:03" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1069" isDoc="" nodeType="1068" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1067" nodeTypeAlias="simpleContentPage" isPublished="true">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <bodyText><![CDATA[<p>Si desea contactarnos por favor diríjase a:</p>
<p>Phone: +1 452 345 5432</p>
<p> </p>
<p>Twitter= @Independiente</p>
<p> </p>
<p>Email: asdfadsf@gmail.com</p>]]></bodyText>
    </simpleContentPage>
    <articlesMain id="1078" key="0475dbe2-7dca-4a07-842f-5cee31f6784f" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2021-06-29T08:19:13" updateDate="2021-06-29T08:19:13" nodeName="Articles" urlName="articles" path="-1,1064,1078" isDoc="" nodeType="1072" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1071" nodeTypeAlias="articlesMain" isPublished="true">
      <articleIntem id="1079" key="3243d1c4-7acf-491c-8339-fbc38b744344" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2021-06-29T08:41:31" updateDate="2021-06-29T08:41:31" nodeName="Nuevas herramientas" urlName="nuevas-herramientas" path="-1,1064,1078,1079" isDoc="" nodeType="1074" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1073" nodeTypeAlias="articleIntem" isPublished="true">
        <articleContents><![CDATA[<p>En esta sección hablaremos de las nuevas herramientas</p>]]></articleContents>
        <articleTitle><![CDATA[Nuevas Herramientas]]></articleTitle>
      </articleIntem>
      <articleIntem id="1080" key="34852f99-3997-46ee-b604-0caa5ec08d25" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2021-06-29T08:42:13" updateDate="2021-06-29T08:42:13" nodeName="Introducción nuevas herramientas" urlName="introducción-nuevas-herramientas" path="-1,1064,1078,1080" isDoc="" nodeType="1074" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1073" nodeTypeAlias="articleIntem" isPublished="true">
        <articleContents><![CDATA[<p>En este campo se hablará muy superficialmente de las nuevas herramientas</p>]]></articleContents>
        <articleTitle><![CDATA[Introducción nuevas herramientas]]></articleTitle>
      </articleIntem>
      <articleIntem id="1081" key="46c8d66c-7d34-4b0c-bad9-4a1920fa67b3" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2021-06-29T08:42:40" updateDate="2021-06-29T08:45:02" nodeName="Fiesta de navidad" urlName="fiesta-de-navidad" path="-1,1064,1078,1081" isDoc="" nodeType="1074" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1073" nodeTypeAlias="articleIntem" isPublished="true">
        <articleContents><![CDATA[<p>Pormenores de las fiestas navideñas del año pasado</p>]]></articleContents>
        <articleTitle><![CDATA[Fiesta de navidad]]></articleTitle>
      </articleIntem>
    </articlesMain>
  </homePage>
</root>